# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# IntelliJ files
*.iml
*.project
/venv
.idea

# VSCode files
.DS_Store
.vs
*.code-workspace
*.vscode

# Visual Studio files
CppProperties.json
*.vcxproj
*.vcxproj.*
*.sln
\x64

# Eclipse files
.classpath
.settings

# CMake files
cmake-build-debug/
**/build

# Natvis files
*.natvis

# Object files and debugging files
*.o
*.out
*.dSYM
.gdb_history

# Vim files
*.swp
$HOME

# Apple files
*.icloud

